<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ STATIC_URL }}/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<a href="plateform.html">plateform</a>
</br>
<a href="project.html">project</a>
</br>
<a href="project_group.html">project_group</a>
</br>
<a href="case.html">case</a>
</br>

<table>
    <thead>
    <tr>
        <th class='w-id'>
            <div class='headerSortUp'>
                <a href='/bug-browse-1-unclosed-0-id_asc-5-20.html'>ID</a>
            </div>
        </th>
        <th class='w-severity'>
            <div class='header'>
                <a href='/bug-browse-1-unclosed-0-severity_asc-5-20.html'>平台</a>
            </div>
        </th>
        <th class='w-pri'>
            <div class='header'>
                <a href='/bug-browse-1-unclosed-0-pri_asc-5-20.html'>项目</a>
            </div>
        </th>
        <th>
            <div class='header'>
                <a href='/bug-browse-1-unclosed-0-title_asc-5-20.html'>项目组</a>
            </div>
        </th>
        <th class='w-80px'>
            <div class='header'>
                <a href='/bug-browse-1-unclosed-0-status_asc-5-20.html'>用例标题</a>
            </div>
        </th>
        <th class='w-user'>
            <div class='header'>
                <a href='/bug-browse-1-unclosed-0-openedBy_asc-5-20.html'>创建人</a>
            </div>
        </th>
        <th class='w-date'>
            <div class='header'>
                <a href='/bug-browse-1-unclosed-0-openedDate_asc-5-20.html'>创建日期</a>
            </div>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class='text-center'>
        <td class='bug-active strong text-left'>
            <div class='header'><a href='/bug-view-7.html'>1</a></div>
        </td>
        <td>
            <div class='header'><a href='/bug-view-7.html'>cdos1.5</a></div>
        </td>

        <td class='text-left' title="aaa">
            <div class='header'> <a href='/bug-view-7.html'>package</a></div>
        </td>

        <td class='bug-active'>
            <div class='header'>fomart</div>
        </td>

        <td>
            <div class='header'>demo case</div>
        </td>
        <td>
            <div class='header'>测试经理</div>
        </td>

        <td>
            <div class='header'>05-26 15:27</div>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan='12'>
        </td>
    </tr>
    </tfoot>
</table>
</body>
</html>