{% extends "layout.html" %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/case.html">All</a></li>
        <li>{{ case.name }}</li>
    </ol>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>用例</th>
            <th>套件</th>
            <th>重要性</th>
            <th>命令</th>
            <th>脚本</th>
            <th>参数</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>修改时间</th>
            {% if request.user.is_authenticated %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ case.name }}</td>
            <td><a href="{% url 'suite_view' case.suite.id %}">{{ case.suite.name }}</a></td>
            <td>{{ case.get_level_display }}</td>
            <td>{{ case.command }}</td>
            <td>{{ case.script }}</td>
            <td>{{ case.param }}</td>
            <td>{{ case.description }}</td>
            <td>{{ case.createdAt|date:'Y-m-d H:i:s' }}</td>
            <td>{{ case.modifyAt|date:'Y-m-d H:i:s' }}</td>
            {% if request.user.is_authenticated %}
                <td><a href="{% url 'case_edit' case.id %}">修改</a> | <a href="{% url 'case_delete' case.id %}">删除</a></td>
            {% endif %}
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan='12'></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}