{% extends "layout.html" %}
{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>用例</th>
            <th>套件</th>
            <th>重要性</th>
            <th>命令</th>
            <th>参数</th>
            <th>描述</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ case.name }}</td>
                <td><a href="{% url 'suite_view' case.suite.id %}">{{ case.suite.name }}</a></td>
                <td>{{ case.get_level_display }}</td>
                <td>{{ case.command }}</td>
                <td>{{ case.param }}</td>
                <td>{{ case.description }}</td>
                <td>{{ case.createdAt|date:'Y-m-d H:i:s' }}</td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan='12'></td>
        </tr>
        </tfoot>
    </table>
    <a href="/case.html">All</a>
{% endblock %}