{% extends "layout.html" %}
{% block sidebar %}
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <!-- SEARCH BAR -->
        <div id="search-bar">
            <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
        </div>
        <!-- /SEARCH BAR -->
        {%  if suites %}
            <!-- SIDEBAR MENU -->
            <ul>
                {% for suite in suites %}
                    <li>
                        <a class="" href="{% url 'machine_list_index' suite.id %}">
                            <i class="fa fa-bookmark"></i>
                            <span class="menu-text">{{ suite.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <!-- /SIDEBAR MENU -->
        {% endif %}
    </div>
{% endblock %}

{% block header %}
    <!-- PAGE HEADER-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header" style="padding-top: 15px">
                <div class="clearfix">
                    {% if p_machine %}
                        <h3 class="content-title pull-left">{{ p_machine.suite.name }}</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
{% endblock %}

{% block content %}

    <!-- BOX -->
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-bars"></i>{{ p_machine.name }}</h4>
            <div class="tools">
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="box-body big">
            <dl class="dl-horizontal">
                <dt>状态</dt>
                <dd>
                    {% if p_machine.status == 1 %}
                        <span class="label label-success">{{ p_machine.get_status_display }}</span>
                    {% else %}
                        <span class="label label-danger">{{ p_machine.get_status_display }}</span>
                    {% endif %}
                </dd>
                <dt>描述</dt>
                <dd>{{ p_machine.description }}</dd>
                <dt>创建时间</dt>
                <dd>{{ p_machine.createdAt|date:'Y-m-d H:i:s' }}</dd>
                <dt>修改时间</dt>
                <dd>{{ p_machine.modifyAt|date:'Y-m-d H:i:s' }}</dd>
            </dl>
        </div>
    </div>
    <!-- /BOX -->

    <p class="btn-toolbar">
        {% if request.user.is_authenticated %}
            <a href="{% url 'machine_edit' p_machine.id %}">
                <button class="btn btn-info"><i class="fa fa-edit"></i> 修改</button>
            </a>

            <a href="{% url 'machine_delete' p_machine.id %}">
                <button class="btn btn-danger"><i class="fa fa-trash-o"></i> 删除</button>
            </a>
        {% endif %}
    </p>

{% endblock %}