{% extends "layout.html" %}
{% block content %}
    <ol class="breadcrumb">
        <li><a href="/machine.html">All</a></li>
        <li>{{ p_machine.name }}</li>
    </ol>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>主机名称</th>
            <th>状态</th>
            <th>主机地址</th>
            <th>描述</th>
            <th>创建时间</th>
            <th>修改时间</th>
            {% if request.user.is_authenticated %}
                <th>操作</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ p_machine.name }}</td>
            <td>
                {% if p_machine.status == 1 %}
                    <span class="label label-success">{{ p_machine.get_status_display }}</span>
                {% else %}
                    <span class="label label-danger">{{ p_machine.get_status_display }}</span>
                {% endif %}
            </td>
            <td>{{ p_machine.address }}</td>
            <td>{{ p_machine.description }}</td>
            <td>{{ p_machine.createdAt|date:'Y-m-d H:i:s' }}</td>
            <td>{{ p_machine.modifyAt|date:'Y-m-d H:i:s' }}</td>
            {% if request.user.is_authenticated %}
                <td><a href="{% url 'machine_edit' p_machine.id %}">修改</a> | <a href="{% url 'machine_delete' p_machine.id %}">删除</a></td>
            {% endif %}
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan='12'></td>
        </tr>
        </tfoot>
    </table>
{% endblock %}