{% extends "layout.html" %}
{% block content %}
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">任务名称</label>
            <div class="col-sm-10">
                <input type="username" name="name" class="form-control" value="{{ p_task.name }}">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">描述</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="description" rows="6">{{ p_task.description }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">修改</button>
            </div>
        </div>
    </form>
{% endblock %}