{% extends "layout.html" %}
{% block sidebar %}
    <div class="sidebar-menu nav-collapse">
        <div class="divide-20"></div>
        <!-- SEARCH BAR -->
        <div id="search-bar">
            <input class="search" type="text" placeholder="Search"><i class="fa fa-search search-icon"></i>
        </div>
        <!-- /SEARCH BAR -->
        {%  if suites %}
            <!-- SIDEBAR MENU -->
            <ul>
                {% for suite in suites %}
                    <li>
                        <a class="" href="{% url 'task_list_index' suite.id %}">
                            <i class="fa fa-bookmark"></i>
                            <span class="menu-text">{{ suite.name }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <!-- /SIDEBAR MENU -->
        {% endif %}
    </div>
{% endblock %}

{% block header %}
    <!-- PAGE HEADER-->
    <div class="row">
        <div class="col-sm-12">
            <div class="page-header" style="padding-top: 15px">
                <div class="clearfix">
                    <h3 class="content-title pull-left">{{ p_task.suite.name }}</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- /PAGE HEADER -->
{% endblock %}


{% block content %}
    <!-- BOX-->
    <div class="box border lite">
        <div class="box-title">
            <h4><i class="fa fa-bars"></i>操作</h4>
            <div class="tools">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="box-body">
            <p class="btn-toolbar">
                {% if case %}
                    <a href="{% url 'case_edit' case.id %}">
                {% endif %}
                <button class="btn btn-purple"><i class="fa fa-edit"></i> 修改</button>
                </a>

                {% if case %}
                    <a href="{% url 'case_delete' case.id %}">
                {% endif %}
                <button class="btn btn-danger"><i class="fa fa-trash-o"></i> 删除</button>
                </a>
            </p>
        </div>
    </div>
    <!-- /BOX -->

    <!-- BOX -->
    <div class="box border blue">
        <div class="box-title">
            <h4><i class="fa fa-bars"></i>{{ p_task.name }}</h4>
            <div class="tools">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="box-body big">
            <h4>任务描述</h4>
            <dl class="dl-horizontal">
                <dt>用例名称</dt>
                <dd>{{ p_task.name }}</dd>
                <dt>描述</dt>
                <dd>{{ p_task.description }}</dd>
                <dt>创建时间</dt>
                <dd>{{ p_task.createdAt|date:'Y-m-d H:i:s' }}</dd>
                <dt>修改时间</dt>
                <dd>{{ p_task.modifyAt|date:'Y-m-d H:i:s' }}</dd>
            </dl>
        </div>
    </div>
    <!-- /BOX -->

    <!-- BOX -->
    <div class="box border orange">
        <div class="box-title">
            <h4><i class="fa fa-bars"></i>运行结果</h4>
            <div class="tools">
                <a href="#box-config" data-toggle="modal" class="config">
                    <i class="fa fa-cog"></i>
                </a>
                <a href="javascript:;" class="reload">
                    <i class="fa fa-refresh"></i>
                </a>
                <a href="javascript:;" class="collapse">
                    <i class="fa fa-chevron-up"></i>
                </a>
                <a href="javascript:;" class="remove">
                    <i class="fa fa-times"></i>
                </a>
            </div>
        </div>
        <div class="box-body big">
            <h4>任务描述</h4>
            <dl class="dl-horizontal">
                <dt>用例名称</dt>
                <dd>{{ p_task.name }}</dd>
                <dt>描述</dt>
                <dd>{{ p_task.description }}</dd>
                <dt>创建时间</dt>
                <dd>{{ p_task.createdAt|date:'Y-m-d H:i:s' }}</dd>
                <dt>修改时间</dt>
                <dd>{{ p_task.modifyAt|date:'Y-m-d H:i:s' }}</dd>
            </dl>
        </div>
    </div>
    <!-- /BOX -->

{% endblock %}