{% extends "layout.html" %}
{% block content %}
    <table class="table table-hover">
        <thead>
        <tr>
            <th>任务名称</th>
            <th>所属套件</th>
            <th>创建时间</th>
        </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td><a href="{% url 'task_view' task.id %}">{{ task.name }}</a></td>
                <td><a href="{% url 'suite_view' task.suite.id %}">{{ task.suite.name }}</a></td>
                <td>{{ task.createdAt|date:'Y-m-d H:i:s' }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan='12'></td>
        </tr>
        </tfoot>
    </table>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        添加任务
    </button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Task Manager</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label >名称</label>
                            <input type="username" class="form-control" name="name"  placeholder="Task name">
                        </div>
                        <div class="form-group">
                            <label >套件</label>
                            <select name = "suite">
                                {% for suite in suites %}
                                    <option value="{{ suite.id }}" >{{ suite.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label >描述</label>
                            <textarea class="form-control" name="description" rows="6" placeholder="Task description"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-success">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}